#deck-builder {
  display: flex;
}

div.card-container,
div.deck-list {
  justify-content: space-evenly;
}

.card-container {
  margin: 5px;
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  width: 15%;
}

.results {
  width: 70%;
  max-height: 500px;
  overflow-y: scroll;
}

.deck-list {
  width: 30%;
}

.card {
  background-color: grey;
  padding: 7px 7px 0 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.card-container .card.expanded-legal {
  background-color: purple;
}
.card-container .card.standard-legal {
  background-color: limegreen;
}

.card-id-ribbon {
  content: '';
  bottom: 50px;
  position: absolute;
  background: black;
  color: white;
  opacity: 0.6;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
