<div class="search">
    <form #searchCardForm="ngForm">
        <input name="searchText" [(ngModel)]="searchText" type="text">
        <button class="btn" (click)="findByName()">Search</button>
    </form>
</div>
<section id="deck-builder">
    <div class="deck-list">
        <deck-builder-list [deckBuilder]="deckBuilder"></deck-builder-list>
    </div>
    <div class="results">
        <ul>
            <li *ngFor="let card of results" class="card-container" (click)="addCard(card)">
                <img src="{{card.imageUrl}}" alt="{{card.name}}" class="card" [class.expanded-legal]="card.expandedLegal" [class.standard-legal]="card.standardLegal">
                <div class="card-id-ribbon">{{card.id | uppercase}} </div>

        </ul>
    </div>

</section>